.header {
  background-color: black;
  height: 50px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.banner {
  color: azure;
  align-items: center;
  margin: 0 25px 0 25px;
  display: flex;
  justify-content: space-between;
}

.banner h2 {
  cursor: pointer;
  display: contents;
}